
h2{
    color: rgb(68, 68, 68);
   
}
.content{
    width:100%;
}
.content-box{
    display:flex;
   
    width:350px;

}
.title{
    font-size:20px;
    color:rgb(83,83,83);
    margin-bottom:10px;
   
}
.desc{
   
    margin-left:30px;
    text-align:left;
    color:rgb(125,125,125);
    line-height:28px;
    font-size:17px;  
}
.break{
    height:50px;
}
.buttons-btn1{
    width:290px;
    height:51px;
    color:#fff;
    font-size:17px;
    line-height:21px;
    text-align:center;
    background:#01bfbd;
    font-weight:700;
    box-shadow: 0 4px 8px rgba(1,191,189,.3);
    border-radius: 4px;
    margin:20px;
    border:none;

}