.talk_to_us_wrapper {
  margin-top: 30px;
}
.all_features {
  padding: 60px;
  background: #f3fcfc;
}
.container {
  max-width: 1136px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.outer_card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 538px;
  background-color: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
  padding: 45px 65px !important;
}
.illustration1,
.illustration2 {
  width: 403px;
  height: 234px;
}
.illustration1 {
  background-position: 0 0;
}
.illustration2 {
  background-position: 403px 0;
}

.all_features .outer_card .headings {
  font-size: 17px;
  font-weight: 600;
  line-height: 1.59;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 4px;
  display: block;
  color: #444;
}
.all_features .outer_card .description {
  font-size: 17px;
  text-align: center;
  color: #777;
  display: block;
}

button {
  cursor: pointer;
}
.talk_to_us_btn {
  border: 2px solid #01bfbd;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  background: #fff;
  color: #01bfbd;
  text-align: center;
  max-width: 100%;
}
.start_fundraiser_btn {
  background: #01bfbd;
  border: none;
  box-shadow: 0 4px 8px rgba(1, 191, 189, 0.3);
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  max-width: 100%;
}
